{% extends 'pet shop/pethomeindex1.html' %}
{% block heading %}
<h2 class="title-w3l">Change <span>Password</span></h2>
{% endblock %}
{% block body %}
<body>

    <form action="/myapp/pet_changepass_post/" method="post" id="passwordForm">
        {% csrf_token %}
        <table class="table table-bordered">
            <tr>
                <th style="color: #0b0b0b; font-size: large;">Current password</th>
                <td>
                    <input type="password" class="form-control" required name="current_password" />
                </td>
            </tr>
            <tr>
                <th style="color: #0b0b0b; font-size: large;">New password</th>
                <td>
                    <input type="password" class="form-control" required name="new_password" id="newPassword" />
                </td>
            </tr>
            <tr>
                <th style="color: #0b0b0b; font-size: large;">Confirm password</th>
                <td>
                    <input type="password" class="form-control" required name="confirm_password" id="confirmPassword" />
                    <div id="passwordError" style="color: red; display: none;">Passwords do not match!</div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn btn-success" name="Submit" value="Change" />
                </td>
            </tr>
        </table>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#passwordForm').submit(function(event) {
                var newPassword = $('#newPassword').val();
                var confirmPassword = $('#confirmPassword').val();

                if (newPassword !== confirmPassword) {
                    $('#passwordError').text('Passwords do not match!').show();
                    event.preventDefault(); // Prevent form submission
                }
            });

            // Optional: Add input event listeners to hide error message while typing
            $('#newPassword, #confirmPassword').on('input', function() {
                $('#passwordError').hide();
            });
        });
    </script>

</body>
{% endblock %}
